# Maven
target/
**/target/

# Credenciales locales (nunca subir a git)
**/application-local.properties
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Compiled files
*.class
*.jar
*.war

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db